
/* Single Project
================================================================ */

body.single-project {

	.sub-header {
		background-size: cover;
		background-image: url('../../images/stock7.jpg');
	}
	.section.single-project {
		padding-bottom: 3em !important;
	}
	.section.what-we-did {
		padding-top: 1em !important;
	}
	.project-preview {
		width: 65%;
		margin: auto;
		position: relative;
		.previews {
			position: absolute;
			top: 4%;
			left: 0;
			right: 0;
			margin: auto;
			width: 92.5%;
			height: 55.7%;
			overflow: hidden;
		}
		.pp-owl-nav {
			div {
				display: inline-block;
				position: absolute;
				color: rgba(0,0,0,0.2);
				text-shadow: 1px 1px 0px white;
				font-size: 4.5em;
				top: 7%;
				cursor: pointer;
				transition: 0.4s;
				&:before {
					font-family: FontAwesome;
				}
				&.pp-prev {
					left: -3rem;
					&:before {
						content: "\f104";
					}
				}
				&.pp-next {
					right: -3rem;
					&:before {
						content: "\f105";
					}
				}
				&:hover {
					color: $brand-1;
				}
			}
		}
	}
	.lede {
		margin: auto;
		text-align: center;
		position: relative;
		margin-bottom: 2em;
		&:after {
			content: "• • •";
			position: absolute;
			font-size: 24px;
			font-weight: 600;
			color: rgba(0,0,0,0.2);
			bottom: -2.75rem;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	.feature-blocks {
		margin: 4em 0;
		padding-bottom: 4em;
		border-bottom: 1px dotted rgba(0,0,0,0.25);
	}
	.feature-block {
		transition: 0.4s;
		position: relative;
		&:nth-child(1) {
			border-color: mix($brand-1, white, 80%);
			.fa {
				background: mix($brand-1, white, 80%);
			}
			h4 {
				color: mix($brand-1, white, 80%);
			}
		}
		&:nth-child(2) {
			transition-delay: 0.4s;
		}
		&:nth-child(3) {
			transition-delay: 0.8s;
			border-color: mix($brand-1, black, 85%);
			.fa {
				background: mix($brand-1, black, 85%);
			}
			h4 {
				color: mix($brand-1, black, 85%);
			}
		}
		&:nth-child(4) {
			transition-delay: 1.2s;
			border-color: mix($brand-1, black, 70%);
			.fa {
				background: mix($brand-1, black, 70%);
			}
			h4 {
				color: mix($brand-1, black, 70%);
			}
		}
	}
	// Animations
	.feature-blocks {
		&.inactive {
			.feature-block {
				bottom: -3em;
				opacity: 0;			
			}
		}
		&.active {
			.feature-block {
				bottom: 0;
				opacity: 1;			
			}
		}
	}

/******************************************************************
Start building for smaller resolutions
******************************************************************/

	@media (max-width: $breakpoint-2) {
		.info-graphic {
			[class*="span"] {
				margin-top: 4em;
				text-align: left !important;
				vertical-align: middle;
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
	@media (max-width: $breakpoint-4) {
		.info-graphic {
			[class*="span"] {
				vertical-align: middle;
			}
		}
	}

/******************************************************************
Start building for larger resolutions
******************************************************************/

	@media (min-width: $breakpoint-1) {
		.project-preview {
			.pp-owl-nav {
				div {
					top: 15%;
				}
			}
		}
	}

	@media (min-width: $breakpoint-2) {
		.lede {
			width: 80%;
		}
		.project-preview {
			.pp-owl-nav {
				div {
					top: 25%;
				}
			}
		}
	}

	@media (min-width: $breakpoint-3) {
		.section.single-project {
			header {
				ul {
					font-size: $large-font-size;
				}
			}
		}
		.project-preview {
			.pp-owl-nav {
				div {
					top: 30%;
				}
			}
		}
	}

} // end body.single-project