
/* Widgets
================================================================ */

.widget {

/******************************************************************
Start building the basic layout
******************************************************************/

    color: $main-text-color;
    border-bottom: none;
    &:hover {
        path {
            fill: $brand-1;
        }
    }

    .widget-content {
        header {
            width: 100%;
            display: table;
            text-align: left;
            .fa,
            .livicon,
            .title {
                display: table-cell;
                vertical-align: middle;
            }
            .title {
                padding-left: 0.5em;
            }
        }
    }

    .title {
        margin-bottom: 0.75em;
        > * {
            margin: 0.25em 0;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &:not(:first-child) {
            margin-top: 0.75em;
        }
    }

    > .fa,
    > .livicon {
        &, 
        + .widget-content {
            display: table-cell;
            vertical-align: middle;
        }
        + .widget-content {
            padding-left: 1em;
        }
    }

    h4 {
        font-size: 1.4rem;
        font-weight: 700;
    }

    h5 {
        font-size: 1.2rem;
        font-weight: 300;
        color: $brand-1;
    }

    p,
    ul {
        margin-top: 0.25em;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

/******************************************************************
Start building for larger resolutions
******************************************************************/

    @media (min-width: $breakpoint-3) {  
        padding: 0;
    }

} // end .widget