
/* Contact Section
================================================================ */

.section.contact {

	.container {
		position: relative;
		z-index: 2;
	}

	/* Animations */

	.form-element {
		position: relative;
		transition: 0.4s;
		opacity: 1;
		&:nth-child(1),
		&:nth-child(2) {
			bottom: 0;
		}
		&:nth-child(3),
		&:nth-child(4) {
			top: 0;
		}
	}

	[type="submit"] {
		opacity: 1;
		transition: 0.4s;
	}

	&.inactive {
		.form-element {
			opacity: 0;
			&:nth-child(1),
			&:nth-child(2) {
				bottom: -2em;
			}
			&:nth-child(3),
			&:nth-child(4) {
				top: -2em;
			}
		}
		[type="submit"] {
			opacity: 0;
		}
	}
	
/******************************************************************
Start building for larger resolutions
******************************************************************/

	@media (min-width: $breakpoint-2) {
		[type="submit"] {
			font-size: 1.2rem;
		}
	}
	
} // end .section.contact
