
/* Latest Works
================================================================ */

.section.latest-works {

/******************************************************************
Start building the basic layout
******************************************************************/

	.portfolio-items {
		transition: 0.4s;
		transform: scale(1);
	}

	&.inactive {
		.portfolio-items {
			transform: scale(0);
		}
	}	

/******************************************************************
Start building for larger resolutions
******************************************************************/

	@media (min-width: $breakpoint-3) {
	}

} // end .section.latest-works