
/* Services Section
================================================================ */

.section.services {

/******************************************************************
Start building the basic layout
******************************************************************/

	padding-bottom: 11em !important;
	position: relative;
	&:after {
		content: "";
		background-image: url('../../images/dot-map.png');
		background-repeat: no-repeat;
		width: 60%;
		left: 0;
		right: 0;
		margin: auto;
		opacity: 0.05;
		height: 20%;
		position: absolute;
		bottom: 0;
	}

	.row {
		margin-top: 4em;
		&:first-child {
			margin-top: 0;
		}
	}

	.services-slider {
		transition: 0.4s;
		top: 0;
		transition-delay: 0.4s;
		&.inactive {
			top: -4em;
			opacity: 0;
			.owl-nav {
				opacity: 0;
			}
		}
	}

	.owl-nav {
		transition: 0.4s;
		transition-delay: 1.4s;
		opacity: 1;
		div {
			position: absolute;
			top: 0.15em;
			font-size: 2em;
			color: rgba(0,0,0,0.2);
			transition: 0.4s;
			&:after {
				font-family: FontAwesome;
			}
			&:nth-child(1) {
				&:after {					
					content: "\f137";
				}
			}
			&:nth-child(2) {
				&:after {					
					content: "\f138";
				}
			}
			&:hover {
				color: $brand-1;
			}
		}
	}
	.owl-prev {
		left: 0;
	}
	.owl-next {
		right: 0;
	}

	.service {
		color: $main-text-color;
		display: block;
		border-bottom: none;
		text-align: center;
		&:hover {
			.fa {
				color: $brand-1;
			}
			path {
				fill: $brand-1;
			}
		}
		.fa {
			font-size: 2.75em;
			padding-top: 0.1em;
			color: rgba(0,0,0,0.2);
			transition: 0.4s;
		}
		.livicon {
			display: inline-block;
			vertical-align: middle;
		}
		h4, h5 {			
			margin: 0.25rem 0;
		}
		h4 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 1em;
		}
		h5 {
			font-size: 1.2em;
			font-weight: 300;
		}
		p {
			font-weight: lighter;
			margin-top: 0.75em;
		}
	}

/******************************************************************
Start building for larger resolutions
******************************************************************/

	@media (min-width: $breakpoint-2) {
		.service {
			h4 {
				margin-top: 0.25rem;
			}
		}
	}

	@media (min-width: $breakpoint-2) and (max-width: $breakpoint-3) {
		.service {
			.fa {
				height: 3.5rem;
			}
		}
		.owl-nav {
			div {
				top: -4.5em;
			}
		}
	}
	@media (min-width: $breakpoint-3) {
		.service {
			padding: 0;
			.fa, .title {
				display: inline-block;
				vertical-align: middle;
			}
			.fa {
				margin-right: 0.5rem;
			}
		}
		.owl-prev {
			left: -2rem;
		}
		.owl-next {
			right: -2rem;
		}
	}
	@media (min-width: $breakpoint-4) {
		.owl-prev {
			left: -4.5rem;
		}
		.owl-next {
			right: -4.5rem;
		}
		.service {
			text-align: left;
		}
	}

} // end .feature.services