
/* Stats Section
================================================================ */

.stats {

/******************************************************************
Start building the basic layout
******************************************************************/
   
    .stat {
        padding: 3rem;
        text-align: center;
        color: $white;
        &:nth-child(1) {
            background: darken($brand-1, 6%);
        }
        &:nth-child(2) {
            background: darken($brand-1, 2%);
        }
        &:nth-child(3) {
            background: lighten($brand-1, 2%);
        }
        &:nth-child(4) {
            background: lighten($brand-1, 6%);
        }
    }


} // end .section.stats