
/* Welcome Section
================================================================ */

.section.welcome {

/******************************************************************
Start building the basic layout
******************************************************************/

	padding-bottom: 0 !important;
	position: relative;

	.container {
		position: relative;
	}

	header {
		transition: 0.2s;
		transform: scale(0);
		background: $background-color;
		&:not(:first-of-type) {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		&.active {
			transform: scale(1);
		}
	}

	.earth {
		transition: 0.4s;
		bottom: 0;
		img {
			animation-name: spin;
			animation-delay: 1s;
		}
	}

	.livicon {
		display: inline-block;
		vertical-align: middle;
		&:first-child {
			margin-left: 0;
		}
	}

	.welcome-browsers {
		.livicon {
			margin-left: 0.5rem;
			cursor: help;
		}
	}

	.welcome-features {
		width: 100%;
		text-align: left;
		.welcome-feature {
			&:hover {
				path {
					fill: $brand-1;
				}
			}
		}
		.section-title {
			margin-bottom: 2.4rem;
			text-align: center;
		}
		h4 {
			margin: 0;
			font-size: 1.4rem;
			font-weight: 700;
		}
		p {
			font-size: $base-font-size;
			margin-top: 0.5rem;
		}
	}

	.tipr_container_top {
		margin-top: -116px;
	}

	.pins {
		opacity: 1;
		transition: 0.4s;
		transition-delay: 1s;
	}

	.nav-carousel {		
		transition-delay: 1s;
	}

	&.inactive {
		.earth {
			bottom: -15em;
			img {				
				animation-name: none;
			}
		}
		.pins {
			opacity: 0;
		}
		.nav-carousel {
			opacity: 0;
			visibility: hidden;
		}
	}

/******************************************************************
Start building for smaller resolutions
******************************************************************/

	@media (max-width: $breakpoint-1) {
		.earth {
			.pin {
				transform: scale(0.75) rotate(-45deg);
			}
		}
	}

/******************************************************************
Start building for larger resolutions
******************************************************************/

	@media (min-width: $breakpoint-3) {}

} // end .welcome