
/* Desktop Carousel
================================================================ */

.project-carousel {
	position: relative;
	.nav-carousel {
		[class*="nav-"] {
			top: 36% !important;
		}
	}
}

.project-preview {

	width: 65%;
	margin: auto;
	position: relative;

	.previews {
		position: absolute;
		top: 4%;
		left: 0;
		right: 0;
		margin: auto;
		width: 92.5%;
		height: 55.7%;
		overflow: hidden;
	}

/******************************************************************
Start building for larger resolutions
******************************************************************/

	@media (min-width: $breakpoint-1) {
	}

	@media (min-width: $breakpoint-2) {
	}

	@media (min-width: $breakpoint-3) {
	}

}