
/* Earth
================================================================ */

.earth {

/******************************************************************
Start building the basic layout
******************************************************************/

	padding-top: 7em;
	height: 200px;
	width: 70%;
	overflow: hidden;
	margin: auto;
	position: relative;

	img {
		position: absolute;
		left: 0;
		animation-name: spin;
		animation-duration: 35s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	.pin-wrapper {
		transform-origin: center;
		position: absolute;
		width: 100%;
		&.active {
			.pin {
				background: $brand-1;
			}
		}
	}

	.pins {
		transform: translateY(369px);
	}

	.pin {
		width: 55px;
		height: 55px;
		border-radius: 50% 50% 50% 0;
		background: $brand-2;
		cursor: pointer;
		transition: 0.4s;
		position: relative;
		transform: translateX(-30%) rotate(-135deg);
		&:after {
			content: '';
			width: 50%;
			height: 50%;
			background: rgba(0,0,0,0.5);
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			border-radius: 50%;
		}
	}

/******************************************************************
Start building for larger resolutions
******************************************************************/

	@media (min-width: $breakpoint-3) {
		height: 275px;
		padding-top: 5em;
		.pin {
			&:nth-of-type(1) {
			}
			&:nth-of-type(2) {;
			}
			&:nth-of-type(3) {
			}
		}
	}

} // end .earth

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    } 
}