
/* Twitter Feed
================================================================ */

#twitter-feed {

    margin:auto;
    overflow:auto;
    overflow-y: hidden;
    a:hover {
        text-decoration: none;
    }      
    h1 {
        display: none;
        position: absolute;
        font-weight: normal;
        line-height: 2;
        top: 0;
        right: 0;
        margin: 0;
    }
    a[href="https://twitter.com/"] {
        display: none;
    }
    .twitter-article {
        margin-top: 1.5em;
        &:first-of-type {
            margin-top: 0;
        }
        &:hover {
            .tweet-time a {
                background: $brand-1;
            }
        }
    }      
    .twitter-article, #loading-container {
        width:100%;
        float:left;
        position:relative;
        min-height: 49px;
    }
    .twitter-pic {
        position:absolute;
        img {
            float:left;
            border-radius:7px; 
            margin-top: 2px;
            border:none;       
        }
    }
    .tweetprofilelink {
        strong a {
            color: $white;
            &:hover {
                border-color: inherit;
            }
        }
        >a {
            font-size: 0.95em;
        }
    }
      
/* -------- TEXT STYLING ------*/

    .twitter-text {
        width: 100%;
        float: left;
        padding-left: 52px;
        box-sizing: border-box;
        p {
            margin: 0px;
        }
    }
    .tweet-time {
        position: absolute;
        right: 0;
        a {
            background: darken($light-grey, 25%);
            padding: 0 2px;
            font-size: 0.9em;
            border-radius: 2px;
            color: white;
            text-shadow: none;
        }
    }

}